@charset "UTF-8";

body  {font-family: 'メイリオ','Hiragino Kaku Gothic Pro',sans-serif}

/* サイト名　*/
.site h1 a  {color: #000000;
             text-decoration: none}

.site h1  {margin: 0;
           font-size: 30px}

.site p  {margin: 0;
          font-size: 12px}

/* SNS-MENU */
.sns-menu  {margin: 0;
            padding: 0;
            list-style: none}

.sns-menu li a  {display: block;
                 padding: 5px;
                 color: #000000;
                 font-size: 14px;
                 text-decoration: none}

.sns-menu li a:hover  {background-color: #dcdcdc}

.sns-menu ul:after  {content: "";
                     display: block;
                     clear: both}

.sns-menu li  {float: left;
               width: auto}

/* BOXA */
.boxA  {background-color: #696969}
.boxA:after  {content: "";
              display: block;
              clear: both}

.box1  {float: left;
        width: 50%}

.box2  {float: left;
        width: 50%}

/* box3 */
/* box4 */
/* box5 */
/* box6 */
/* box7 */
/* box8 */
/* box9 */
/* box10 */
/* box11 */
/* box12 */

/* BOXB */
.boxB  {background-color: #696969}
.boxB:after  {content: "";
              display: block;
              clear: both}

.box13  {float: left;
         width: 33.3333%}

.box14  {float: left;
         width: 33.3333%}

.box15  {float: left;
         width: 33.3333%}
